@import "../../orion/textview/textview.css";
@import "../../orion/textview/rulers.css";
@import "../../orion/textview/annotations.css";
@import "../../orion/textview/tooltip.css";
@import "textstyler.css";
@import "htmlStyles.css";

body {
	margin: 0;
	padding: 0;
	font: 14px Monaco;
}

a {
	cursor: hand;
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	cursor: hand;
	text-decoration: underline;
	color: #ffffff;
}

.contentassist {
	display: none;
	background-color: #ffffff;
	padding: 2px;
	position: fixed;
	top: 100px;
	left: 100px;
	border: 1px solid #cccccc;
	z-index:10;
	cursor: default;
	overflow: auto;
	height: 150px;
	width: 500px;
}

.contentassist .selected {
	background-color: #dddddd;
}

.textviewContainer {
	font: 14px Monaco;
}

.content-item {
	padding-left: 20px;
	background-position: left center;
	background-repeat: no-repeat;
}

.class-item {
	background-image: url("class_obj.gif");
}

.method-item {
	background-image: url("methpub_obj.gif");
}

.field-item {
	background-image: url("field_public_obj.gif");
}